<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>199550756345-bnondmc0s7bqr077hgjuu6oshnuag38s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.199550756345-bnondmc0s7bqr077hgjuu6oshnuag38s</string>
	<key>API_KEY</key>
	<string>AIzaSyDgf11PLbPHQBJcX91Nu3pGRTs-mnkpOnA</string>
	<key>GCM_SENDER_ID</key>
	<string>199550756345</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mainApp</string>
	<key>PROJECT_ID</key>
	<string>moneytoma-0</string>
	<key>STORAGE_BUCKET</key>
	<string>moneytoma-0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:199550756345:ios:44757a011cb7af943f0928</string>
</dict>
</plist>